.file-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.close-button:hover {
  cursor: pointer;
}

.title {
  margin: 0;
}

.keywords {
  margin-bottom: 2rem;
}

.averages-indicators {
  display: flex;
  justify-content: space-between;
}

.average-indicator {
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  width: 20%;
  text-align: center;
  box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.75);
  outline: 1px solid #fbfbfb;
}
