.dashboard-container {
    display: flex;
    justify-content: center;
    
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 90vh;
}

.btn-upload{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    font-size: 2rem;
    cursor:pointer;
}
.btn-upload:hover{
   background-color:  rgba(9,9,121,1);
   
}

