table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  padding: 12px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

td {
  padding: 12px;
  border: 1px solid #ddd;
}
