.containerSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 110vh;
  width: 100vw;
  overflow: hidden;
  z-index: 999999999;
  background: #00000042;
}
.backgroundSpinner {
  width: 0;
}

.circleContainer {
  filter: url(#backgroundSpinner);
}

.stopp1 {
  stop-color: rgba(9,9,121,1);
}

.stopp2 {
  stop-color: rgba(0,212,255,1);
}

.cut {
  animation: circleContainer1 10s infinite linear;
  stroke-dasharray: 180 800;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
.circle {
  animation: circleContainer1 3s infinite linear;
  stroke-dasharray: 26 54;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}

.cutContainer {
  filter: blur(5px);
  opacity: 0.3;
  position: absolute;
  transform: translate(3px, 3px);
}

@keyframes circleContainer1 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -403px;
  }
}
