.card {
  width: 18rem;
  height: 20rem;
  margin: 20px;
  box-shadow: 3px -3px 13px rgba(0, 0, 0, 0.2);
  border-radius: 1rem 1rem 0 0;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.card-img-top {
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding: 0 10px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0px -8px 14px 0px rgba(0, 0, 0, 0.1);
}

.card-text {
  font-size: 14px;
  font-weight: 100;
}

.card-button:hover {
  cursor: pointer;
  background: #001578;
  outline: 2px solid rgb(2, 0, 36);
}
