.navbar {
  padding: 10px;
  background-color: rgba(9,9,121,1);
  color: #fff;
}

.brand {
  display: flex;
  justify-content: start;
}


.brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-container {
  display: flex;
  justify-content: end;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #555;
}

.signOut-container {}

.SignOut-btn:hover {
  cursor: pointer;
  outline: 1px solid #fff;
}