.csv-container {
  margin: 1rem 0;
}

.csv-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

select {
  width: 20%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 11px;
  font-size: 16px;
}

.csv-button:hover {
  cursor: pointer;
  background: #001578;
  outline: 2px solid rgb(2, 0, 36);
}

.container-table {
  padding-inline: 3rem;
  height: 100vh;
  overflow-y: scroll;
}

.flex-center{
  display: flex;
  justify-content: center;
}