
button {
    border-radius: 20px;
    border: 1px solid rgb(2,0,36);
    background-color: rgb(2,0,36);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}