@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  overflow-y: hidden;
  overflow-X: hidden;
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}